


.parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
} 

.parent a{
    text-decoration: none;
    color: rgb(48, 46, 46);
    border: 3px solid gray;
    padding: 8px 15px;
    border-radius: 5px;
}

.bkc{
background-image: url(assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover; 

    
}
.cut{
    width: 500px;
    margin: auto;
    padding: 30px;
}

.bkc img {
    display: block;
    margin: auto;
}
.bkc h2{
    text-align: center;
    font-size: 30px;

}

.bkc p{
    text-align: center;
    color: gray;
}

.bkc button{
    display: block;
    margin: auto;
    padding: 8px 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

/* main-section */

main{
    width: 700px;
    margin:  50px auto;
    padding: 40px 0;
    background-color: rgb(245, 250, 250);

}

 h2{
    text-align: center;
} 

p{
    text-align: center;
    color: gray;
}
.coto-vai{
    display: flex;
    /* align-items: center; */
    padding:  30px 70px;
    

}

.ki-kori{
    
    width: 200px;
    /* height: 100px; */
    
    
   


}
.ki-kori h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(59, 57, 57);
    text-align: left;
    line-height: 25px;
    text-shadow: 5px 8px 120px;
    word-spacing: 9px;

}

.ki-kori p{
    text-align: left;
    margin: 20px 0;
}

.ki-kori button{
    padding: 7px;
    color: rgb(66, 63, 63);
}
.buji img{
    margin-left: 100px;
    width: 200px;
    
}